<!DOCTYPE html>
<html lang="en" ng-app="myFirstApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular Intro</title>
  <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>
  <script src="controllers/home.controller.js" charset="utf-8"></script>
  <style>
    .isVisible {
      color: Blue
    }
    .isNotVisible {
      color: white
    }
  </style>
</head>
<body ng-controller="HomeController as home">
  <h1>{{ home.title }}</h1>

  <div  ng-if="home.canDisplayTrainerList()">
    <h2>Trainers</h2>
    <ul>
      <li ng-repeat="trainer in home.trainers track by $index">
        {{ trainer }}
        <input type="text" ng-value="trainer" placeholder="edit trainers name" ng-model="home.updatedTrainerNames[$index]">
        <button type="button" ng-click="home.updateTrainer($index)">Save Name</button>
        <button type="button" ng-click="home.deleteTrainer($index)">Delete</button>
      </li>
    </ul>

    <button
      type="button"
      ng-click="home.clearTrainerList()">Clear Trainer List</button>
  </div>

  <h2>Add a trainer</h2>
  <form>
    <input type="text" ng-model="home.newTrainerName">
    <button type="button" ng-click="home.addTrainer()">Add</button>
  </form>

  <p>
    <a href="#" ng-click="home.showGonzo($event)">Show gonzo!</a>
    <a href="#" ng-click="home.hideGonzo()">Hide gonzo</a>
    <a href="#" ng-click="home.toggleGonzo()">Toggle gonzo</a>
    <span ng-class="home.getGonzoVisibility()">Now you see me</span>
  </p>
  <img
    src="https://campustocareer.files.wordpress.com/2012/01/gonzo-face-smashed.jpg" height="200"
    ng-if="home.isGonzoVisible()"
    ng-mouseover="home.hideGonzo()">
</body>
</html>
